<h1>My Custom Page | Here My Template</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<span><%= link "New Room", to: Routes.room_path(@conn, :new) %></span>
